$gradient-color1: rgba(244, 245, 237, 0.829);
$gradient-color2: rgba(216, 231, 12, 0.226);
$gradient-color3: rgba(43, 126, 10, 0.164);
$gradient-color2-hover: rgba(216, 231, 12, 0.568);
$gradient-color3-hover:rgba(110, 202, 73, 0.548);
$background-image: url(../src/image/plush.jpg);
$background-colot-input: #f7f8e5;

$border-color1: #1907bb;
$border-color2: #051f05;
$border-color3: #0a3b0a;

$button-text-color: #170388;