@use "mixins" as mix;
@use "variables" as var;
@import "modern-normalize/modern-normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
:root{
    --bgbody: #bbeebb;
    --gc1: #{var.$gradient-color1};
    --gc2: #{var.$gradient-color2};
    --gc3: #{var.$gradient-color3};
    --gc2h: #{var.$gradient-color2-hover};
    --gc3h: #{var.$gradient-color3-hover};
    --bgi: #{var.$background-image};
    --bgci: #{var.$background-colot-input};
    --bgchf: #7eb972;
    --btc: #{var.$button-text-color};
    --bc1: #{var.$border-color1};
    --bc2: #{var.$border-color2};           
    --bc3: #{var.$border-color3};
    --bc4: #102c12;
    --bc5: #102c12;
    --herotc: #f0691b;
    --herotcb: #0c08da;
    --bsh1:rgba(14, 77, 20, 0.8);
    --listbc: #03043a;
        --bodygrad1: 0,
        0,
        0;
    --bodygrad2: 187, 238, 187;
    --gradfors: 247, 248, 229;
    --input-invalid:  #f51111;
    --input-valid: #2de92d;
    --color: #102c12;
}
.dark-theme {
    --bgbody: #0f0f0f;
    --gc1: #0d0d0d;
    --gc2: #1a1a1a;
    --gc3: #333333;
    --gc2h: #444444;
    --gc3h: #555555; 
    --bgchf: #da6334;
    --btc: #ffffff;
    --bc1: #555;
    // --bc2: #444;
    // --bc3: #f04a08;
    --bc4: #0f0f0f;
    --bc5: #d2d8d2;
    --herotcb: #5271ff;
    --bsh1: rgba(255, 255, 255, 0.1);
    --listbc: #0d0d1f;
    
        /* чорний */
        --bodygrad2: 255, 165, 100;
    // --bodygrad1: 10, 10, 30;
    // --bodygrad2: 30, 30, 60;
    --gradfors: 40, 40, 40;
    --color: #d2d8d2;
}
.star {
    position: absolute;
    animation: blink 2.5s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
 .rotating-star {
     animation: spin 5s linear infinite;
     /* обертання 5 секунд безперервно */
 }

 @keyframes spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
    border-top: 2px solid var(--bc2);
}
.logo-link {
    display: block;
    width: 157.36px;
    height: 67px;
    align-self: flex-start;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 24px;
    padding: 8px 6px 8px 3px;
    border: 2px solid var(--bc2);
    background: #bbeebb;
    border-left: none;
    width: 157.36px;
    height: 67px;
    box-shadow: inset 0 1px 4px 1px var(--bgci);
}


.logo {
    border-radius: 50%;
    border-top: 2px solid var(--bc2);
    border-right: 2px solid var(--bc2);
    border-bottom: 2px solid var(--bc2);
    border-left: 1px solid var(--bc1);
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;

}

.logo-container:hover .logo,
.logo-container:focus .logo {
    transform: scale(0.8);

}

.logo-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-family: "Gabarito", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--bc4);
}

.logo-name {
    font-family: 'Goblin One', cursive;
    font-size: 18px;
    font-weight: 600;
    color: var(--bc4);
}

.form-title,
.resume-title,
.certifications-title,
.about-me-title,
.skills-title,
.portfolio-title {
  @include mix.title();

}
.form-text,
.resume-text,
.certifications-text,
.skills-text,
.portfolio-text {
    @include mix.text();
}
.span-two-text {
    font-family: Walter Turncoat, cursive;
    color: var(--herotc)
}

@media screen and (min-width: 768px){
    .container {
        max-width: 768px;

        padding: 0 24px;
    }
   
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        
    }

}