@use "mixins" as mix;
@use "variables" as var;
@import "modern-normalize/modern-normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
:root{
    --gc1: #{var.$gradient-color1};
    --gc2: #{var.$gradient-color2};
    --gc3: #{var.$gradient-color3};
    --gc2h: #{var.$gradient-color2-hover};
    --gc3h: #{var.$gradient-color3-hover};
    --bgi: #{var.$background-image};
    --bgci: #{var.$background-colot-input};
    --bgchf: #7eb972;
    --btc: #{var.$button-text-color};
    --bc1: #{var.$border-color1};
    --bc2: #{var.$border-color2};           
    --bc3: #{var.$border-color3};
    --bc4: #102c12;
    --herotc: #f0691b;
    --herotcb: #0c08da;
    --bsh1:rgba(14, 77, 20, 0.8);
    --listbc: #03043a;
    --bodygrad1: 25, 7, 187;
    --bodygrad2: 187, 238, 187;
    --input-invalid:  #f51111;
    --input-valid: #2de92d;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
    border-top: 2px solid var(--bc2);
}

.form-title,
.resume-title,
.certifications-title,
.about-me-title,
.skills-title,
.portfolio-title {
  @include mix.title();

}
.form-text,
.resume-text,
.certifications-text,
.skills-text,
.portfolio-text {
    font-family: "Gabarito", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--bc4);
    text-align: center;
}
.span-two-text {
    font-family: Walter Turncoat, cursive;
    color: var(--herotc)
}