.footer-section {
    width: 100%;
    max-width: 375px;
    height: 180px;
    margin: 0 auto;
    padding: 16px;
    background: var(--bgchf);
    border-top: 3px solid var(--bc2);
    border-top-left-radius: 24px;
    border-top-right-radius: 2px;
    text-align: center;
}