.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 375px;
    height: 260px;
    margin: 0 auto;
    padding: 24px 16px;
    background: linear-gradient(to bottom,
                rgba(var(--bodygrad1), 0.9),
                rgba(var(--bodygrad2), 0.4) 95%), url(../image/small-hero.jpg) no-repeat center / cover;
    border-top: 3px solid var(--bc2);
    border-top-left-radius: 24px;
    border-top-right-radius: 2px;  
}
.footer-address {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: center;
}
.address-item {
    font-family: "Gabarito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--bc5);
    transition: text-shadow 0.8s ease;
    font-style: normal;
}
.emeil-link {
    transition: text-shadow 0.8s ease;
}
.emeil-link:hover,
.emeil-link:focus,
.emeil-link:active {
    text-shadow:
        0 0 2px var(--bgci),
        0 0 4px var(--bgci),
        0 0 6px var(--bgci);
}
.footer-text {
    font-family: 'Walter Turncoat', cursive;
    font-size: 16px;
    font-weight: 400;
    color: var(--bgci);
}

@media screen and (min-width: 768px) {
    .footer-section {
        max-width: 768px;
        height: 205px;
        gap: 0px;
        background: linear-gradient(to bottom,
                    rgba(var(--bodygrad1), 1),
                    rgba(var(--bodygrad2), 0.4) 35%), url(../image/tablet-hero.jpg) no-repeat center / cover;
    }
    .footer-address {
        align-self: flex-end;
        margin-right: 80px;
        margin-bottom: 16px;
        }
}
@media screen and (min-width: 1200px) {
    .footer-section {
        max-width: 1200px;
        background: linear-gradient(to bottom,
                rgba(var(--bodygrad1), 1),
                rgba(var(--bodygrad2), 0.4) 35%), url(../image/desk-hero.jpg) no-repeat center / cover;
    }

    .footer-address {
        align-self: flex-end;
        margin-right: 80px;
        margin-bottom: 16px;
    }
}


