.section-big {
    padding: 5px 20px 5px 16px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
    height: 80px;
    background: var(--bgchf);
    border-bottom: 3px solid var(--bc4);
    ;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 2px;

}

.logo-link {
    display: block;
    width: 157.36px;
    height: 67px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 24px;
    padding: 8px 6px 8px 3px;
    border: 2px solid var(--bc2);
    background: #bbeebb;
    border-left: none;
    width: 157.36px;
    height: 67px;
    box-shadow: inset 0 1px 4px 1px var(--bgci);
   

}
.logo-container:hover .logo,
.logo-container:focus .logo {
    transform: scale(1.05);
    
}

.logo {
    border-radius: 50%;
    border-top: 2px solid var(--bc2);
    border-right: 2px solid var(--bc2);
    border-bottom: 2px solid var(--bc2);
    border-left: 1px solid var(--bc1);
    width: 60px;
    height: 60px;
    transition: transform 0.8s ease;

}

.logo-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-family: "Gabarito", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--bc4);
}

.logo-name {
    font-family: 'Goblin One', cursive;
    font-size: 18px;
    font-weight: 600;
    color: var(--bc4);
}

.burger {
    background: inherit;
    border: none;
}
.backdrop-burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
}

.backdrop-burger.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    background: var(--bgchf);
    width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.backdrop-burger.is-open .modal {
    transform: translateX(0);
}
.modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.modal-close-btn svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: var(--bc4)
}