@use "./mixins" as mix;

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 16px 24px 16px;
    width: 100%;
    max-width: 375px;
    height: 540px;
    margin: 0 auto;
    background: linear-gradient(140deg,
            rgba(var(--bodygrad1), 0.8),
            rgba(var(--bodygrad2), 0) 70%), url(../image/small-hero.jpg) no-repeat center / cover;

    border-top-left-radius: 4px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 24px;
    border-top: 2px solid var(--bc2);
}
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.hero-text-container {
    width: 100%;
    max-width: 343px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.hero-titel {
    font-family: 'Walter Turncoat', cursive;
    font-size: 32px;
    font-weight: 400;
    color: var(--herotc);
    text-align: center;
   
    -webkit-text-stroke: 1px var(--bgci);
}

.hero-text {
    font-family: "Gabarito", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--bgchf);
    text-align: center;

}

.hero-img-container {
    width: 240px;
    height: 240px;
    margin-right: 80px;
    border-radius: 50%;
    box-shadow: 3px 7px 10px var(--bgchf);
    border-top: 2px solid var(--bc2);
    border-right: 1px solid var(--bc1);
    border-bottom: 3px solid var(--bc2);
    border-left: 4px solid var(--bc2);
    overflow: hidden;
    
}
.hero-img {
    border-top: 2px solid var(--bc2);
    border-right: 1px solid var(--bc1);
    border-bottom: 3px solid var(--bc2);
    border-left: 4px solid var(--bc2);
    border-radius: 50%;
    box-shadow: 3px 7px 10px var(--bgchf);
}
.hero-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gh-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow 0.8s ease, transform 0.8s ease;

}
.gh-link:hover {
    box-shadow: 0 0 6px 2px var(--bgci);
    transform: scale(0.97);
}
.hero-link {
    @include mix.button(182px, 48px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 374px) {
    .hero-titel {
        font-size: 28px;
    }
    
    .hero-img-container {
        width: 210px;
        height: 210px;
        margin-right: 75px;
          
    }
    .hero-img {
        width: 185px;
        height: 185px;
    }
}
@media screen and (min-width: 768px) {
    .hero-section {
        padding: 44px 44px 34px 34px;
        max-width: 768px;
        height: 500px;
        background: linear-gradient(140deg,
                rgba(var(--bodygrad1), 0.8),
                rgba(var(--bodygrad2), 0) 70%), url(../image/tablet-hero.jpg) no-repeat center / cover;
    }
    .hero-container {
        flex-direction: row;
        gap: 44px;
    }
    .hero-text-container {
        padding-top: 20px;
        gap: 20px;
    }
    .hero-titel {
        font-size: 54px;
        font-weight: 400;
    }
        .hero-text {
           
            font-size: 24px;
        
    
        }
    .hero-img-container {
        width: 303px;
        height: 303px;
        margin-right: 0;
    }
    .hero-img {
        width: 290px;
        height: 290px;
    }
    .hero-link {
        margin-left: 83px;
    }
}