* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
textarea {
    resize: none;
    outline: none;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
}
label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: 'Goblin One', cursive;
    font-size: 14px;
    font-weight: 600;
    color: var(--color);
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--bgbody);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body.modal-open {
    overflow: hidden;
    
}
body.ua .header-nav-link {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    
}
body.ua .none-ua {
    display: none;
}
body.ua .span-two-text{
    font-family: Walter Turncoat, cursive;
        color: var(--herotc);
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
}
