@use "mixins" as mix;
@use "./reset.scss";
@use "./base.scss";


.form-section {
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding-top:40px;
  padding-bottom: 60px;
}
.form-title,
.resume-title,
.about-me-title,
.skills-title{
  @include mix.title();
}
.form-text,
.resume-text,
.certifications-text,
.skills-text {
  font-family: "Gabarito", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--bc4);
  text-align: center;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  @include mix.button();

}
.input {
  @include mix.input()
}
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  transition: background-color 9999s ease-in-out 0s !important;
}
.textarea {
  @include mix.input(343px, 132px,36px);
}
.form-icon {
  position: absolute;
  left: 8px;
  top: 32px;
  fill: var(--bc3);
  transition: fill 0.8s ease;
}
label:hover .form-icon,
label:focus-within .form-icon {
  fill: var(--bc1);

}
label:hover .form-icon g,
label:focus-within .form-icon g {
  stroke: var(--bc1);
}
.section-big {
  padding: 5px 20px 5px 16px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width:100%;
  max-width: 375px;
  height: 80px;
  background: var(--bgchf);
  border-bottom: 3px solid var(--bc4);;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 2px;

}
.logo-link {
  display: block;
  width: 157.36px;
  height: 67px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 24px;
  padding: 8px 6px 8px 3px;
  border: 2px solid var(--bc2);
  border-left: none;
  width: 157.36px;
  height: 67px;
}
.logo {
  border-radius: 50%;
  border-top: 2px solid var(--bc2);
  border-right: 2px solid var(--bc2);
  border-bottom: 2px solid var(--bc2);
  border-left: 1px solid var(--bc1);
  width: 60px;
  height: 60px;
} 
.logo-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-text {
  font-family: "Gabarito", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--bc4);
}
.logo-name {
  font-family: 'Goblin One', cursive;
  font-size: 18px;
  font-weight: 600;
  color: var(--bc4);
}
.burger{
  background: inherit;
  border: none;
}
.hero-section {
  padding: 36px 16px 24px 16px;
  width: 100%;
  max-width: 375px;
  height: 540px;
  margin: 0 auto;
  background: url(../src/image/hero.jpg) no-repeat center / cover;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 24px;
  border-top: 2px solid var(--bc2);
  margin-bottom: 2px;
}
.hero-titel {
  font-family: 'Walter Turncoat', cursive;
  font-size: 32px;
  font-weight: 400;
  color: var(--herotc);
  text-align: center;
  margin-bottom: 8px;
  -webkit-text-stroke: 1px var(--herotcb);
}
.hero-text {
  font-family: "Gabarito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--bc4);
  text-align: center;
  margin-bottom: 24px;
}
.hero-img {
  width: 240px;
  height: 240px;
  margin-right: 80px;
  border-radius:50%;
  box-shadow: -5px 10px 18px var(--bsh1);
  border-top: 2px solid var(--bc2);
  border-right: 1px solid var(--bc1);
  border-bottom: 3px solid var(--bc2);
  border-left: 4px solid var(--bc2);
}
.hero-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
}
.gh-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.hero-link,
.resume-link {
  @include mix.button(182px, 48px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me-section {
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding-top:40px;
  padding-bottom: 2px;
}
.about-me-container {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px 14px 24px 14px;
  background: var(--bgchf);
  border-top: 3px inset var(--bc1);
  border-right: 1px solid var(--bc2);
  border-left: 1px solid var(--bc2);
  border-bottom: 3px solid var(--bc3);
  border-top-left-radius: 8px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 8px;
}
.about-me-list {
  width: 100%;
  max-width: 313px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: var(--bgci);
  border-radius: 4px;
  box-shadow: inset 0 1px 4px 1px var(--bc2);
}
.about-me-list-item {
  font-family: "Gabarito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--bc4);
  padding: 12px 8px 8px 8px;
  border-bottom: 1px solid var(--bc2);
  border-radius: 4px;
}
.span-two-text{
  font-family: Walter Turncoat, cursive;
  color: var(--herotc)
}
.plush-img-container {
  display: flex;
  justify-content: space-between;
  width: 140px;
  
}
.plush-img {
  width: 30px;
  height: 30px;
}
.footer-section {
  width: 100%;
  max-width: 375px;
  height: 180px;
  margin: 0 auto;
  padding: 16px;
  background: var(--bgchf);
  border-top: 3px solid var(--bc2);
  border-top-left-radius: 24px;
  border-top-right-radius: 2px;
  text-align: center;
}
.resume-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-top: 40px;
  padding-bottom: 2px;
}
.resume-text-container {
  display: flex;
  flex-direction: column;
}
.resume-container {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px 14px 24px 14px;
  background: var(--bgchf);
  border-top: 3px inset var(--bc1);
  border-right: 1px solid var(--bc2);
  border-left: 1px solid var(--bc2);
  border-bottom: 3px solid var(--bc3);
  border-top-left-radius: 8px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 8px;
}

.certifications-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
.certifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.certifications-img-container{
  padding: 8px;
  border-radius: 8px;
  background: var(--bgci);
  border-top: 3px inset var(--bc1);
  border-right: 1px solid var(--bc2);
  border-left: 1px solid var(--bc2);
  border-bottom: 3px solid var(--bc3);
  box-shadow: inset 0 1px 4px 1px var(--bc2);
}
.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.skills-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.swiper-skills {
  border-radius: 16px;
  width: 100%;
  max-width: 250px;
  height: 250px;
  border-radius: 50%;
  background:  var(--bgchf);
  box-shadow: 0 0px 10px 3px var(--bc2);
}

.custom-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 65%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--bc4);
  background: var(--bgci);
  transition: background 0.8s ease;
}

.custom-next {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 65%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--bc4);
    background: var(--bgci);
    transition: background 0.8s ease;
}
.custom-prev:hover,
.custom-next:hover,
.custom-prev:focus,
.custom-next:focus {
  background: var(--gc2h);
}
.swiper-skills .swiper-slide {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  flex-shrink: 0;
  background: var(--bgchf);
  margin:  auto 0;
}

.slide-item {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--bgci);
  box-shadow: inset 0 1px 4px 1px var(--bc2);
  border-top: 3px inset var(--bc1);
  border-right: 1px solid var(--bc2);
  border-left: 1px solid var(--bc2);
  border-bottom: 3px solid var(--bc3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-text {
  font-family: "Gabarito", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--bc4);
}
.rotate-90 {
  transform: rotate(90deg);
  
}
.rotate90 {
  transform: rotate(-90deg);

}